@page
@model IndexModel

@using TODO1.ViewModels;
@{
    ViewData["Title"] = "Home page";





    {

        List ListData = new List()
        {


        };


        <partial name="_ListClass" model="ListData" />
    }



    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


    <form method="get">


        <input name="ViewDataDescription" type="text" />

        <input name="ViewDatasubmit" type="submit" />

        <input name="ViewDataDone" type="checkbox" />


    </form>


}

