@page
@model IndexModel

@using TODO1.Data;
@{


    ViewData["Title"] = "Home page";



    {
        Items ItemsData = new Items()


        {


        };


        //<partial name="_Items" model="@ItemsData" />

        <section>
            @foreach (var itemData in Model.Log) ;
            }
            <partial name="_Items" model="@ItemsData" />
            }

        </section>

        }

    }









<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>








<form asp-page="./index" method="post">


    @*<label asp-for="Message.Id">Id</label>
        <input asp-for="Message.Id" />*@
    <label asp-for="Item.Name">Name:</label>
    <input asp-for="Item.Name" />
    <label asp-for="Item.Done"></label><input asp-for="Item.Done" />
    <input type="submit" />


</form>













